.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Add this to your App.css */
.spline-wrapper {
  position: relative;
  z-index: 100000px; /* Adjust as needed to bring the Spline viewer to the front */
}

.spline-wrapper spline-viewer {
  display: block;
  width: 100%;
  height: 740px; /* Adjust height as necessary, or set a specific height */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
